:root {
  --standard-height: 4rem;
  --vertical-space: 2.4rem;
  --gutter-width: 1rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
}

main > header, section, footer {
  width: 100%;
}

main > header {
  display: flex;
  align-items: center;
  margin-bottom: var(--vertical-space);
  height: var(--standard-height);
  padding: 0 var(--gutter-width);
}

main > section {
  padding: 0 var(--gutter-width);
  margin-bottom: var(--vertical-space);
}

section.toggle-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > footer {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--standard-height);
}

@media (min-width: 1024px) {
  main > header, main > footer, main > section {
    max-width: 768px;
  }

  main > section.volume-slider, main > section.threshold-slider {
    max-width: 448px;
  }
}

